<%# render "layouts/status_bar", :status => "collect" %>
<!-- p id="notice"><%= notice %></p -->
<style>
.mousetoHand
{
color:#5B3C1D;
font-family:Arial;
font-size:12pt;
cursor:pointer;
text-decoration:none;

}
</style>
<div class="container">
<%= form_tag respondents_path, :method => 'get', :id => "respondents_search"  do %>

<div class="survey_publish_heading">Respondents for <b><%= @survey.name %></b></div>
<br />
<div class="survey_publish_heading"><%= t("respondents.index.respondent_list") %></div>
<div class="survey_publish_heading">
  
<div class="blue_tabs">
      <ul class="filters tab-links">
        <li><%= link_to t(".allocated"), respondents_path(:survey_id => @survey_id, :filter => "Allocated"), :class => "#{'selected' if (params[:filter] == "Allocated") || params[:filter] == nil}"%></li>
        <li><%= link_to t(".downloaded"), respondents_path(:survey_id => @survey_id, :filter => "Downloaded"),:class => "#{'selected' if params[:filter] == "Downloaded"}"%></li>        
      </ul>
    </div>
    <div>
    <p><%= t(".search_title")%> </p>
  <p>
    Filter by User&nbsp;
    <%= collection_select(:user_filter, :user_id, @publishable_users, :id, :name, {:selected => @user_selected, :include_blank => true } ) %>
    &nbsp;&nbsp;
    <%= text_field_tag :survey_id, params[:survey_id], :style =>'display: none;'  %>
    <%= text_field_tag :filter, params[:filter], :style =>'display: none;'  %>
    <%= text_field_tag :search_param, params[:search_param], { :placeholder => "Enter search term" } %>
    <%= submit_tag "Search", :name => nil %>
  </p>
    </div>
</div>
<div class="survey_publish_heading">
<p><%= t(".previous_responses") %></p>
<div id="respondent">

<table >
  <thead >
    <tr >
      <th><input type="checkbox" class="select_all" /> &nbsp;<%= t(".Select") %>&nbsp;</th>
      <th><%= t(".Answers") %></th>
      <th><%= t(".Location") %></th>
      <th><%= t(".Status") %></th>
      <th><%= t(".Users") %></th>      
    </tr>
  </thead>
<br />
  <tbody>
  
    <% @respondents.each do |respondent| 
      @user1 = @publishable_users.select {|user| user.id == respondent.user_id} 
      j = JSON.parse(respondent.respondent_json)
      identifiers = j["identifiers"] #.map{ |answers| answers["answer_content"]}
      #identifiers = JSON.decode(respondent.respondent_json)["identifiers"].map { |answers| answers["answer_content"] }           
     %>      
          
      <tr align="center">
        <td><%= check_box_tag "respondent_ids[]", respondent.id %> </td>
        <td> <%if identifiers  
        identifiers.each do |i| %>
        <%= i["answer_content"]%>
        <% end 
        end
        %>
        </td>
        
        <td>
        <%= j["location"] %>
       
        </td>
        <td><%= respondent.status %></td>
        <td class="mousetoHand">        
         <%= best_in_place respondent, :user_id, as: :select, :class => 'mousetoHand' , :collection => @publishable_users.map {|u| [u.id, u.name]}, :include_blank => true %>        
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
<%= hidden_field_tag :surveyid, @survey_id %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @respondents %>

</div>
<hr />
<br>

<div>
<p><%= t(".bulk_allocate_text") %></p>
<%= collection_select(:respondent, :user_id, @publishable_users, :id, :name, :prompt => "Set Blank" ) %>&nbsp;&nbsp;
<input type='button' value='<%= t(".bulk_allocate") %>' id='bulk_Assign' class='btn-bulk-Assign' />
</div>
</div>
<% end %>
<br /><br />
<div class="unpublish-survey-button">
<%= button_to  t('.back_to_publish'), edit_survey_publication_path(survey_id: @survey_id), class: 'unpublish-survey-button', method: :get %>
</div>

</div>

<script language="javascript">
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});

$(".select_all").click(function(){
 $("input[type=checkbox]").each(function(index, el){
   if (index > 0)
    el.checked = !el.checked;          
   }); 
});

 $("#bulk_Assign").click(function(){
 
  if(!confirm('<%= t("respondents.index.confirm_bulk_assign") %>'))
    return;
  
  var ids = [];
   
   $("input[type=checkbox]").each(function(index, el){
   if(index > 0 && el.checked) 
    ids.push(el.value);      
   }); 
   
  var selected_user_id = $("#respondent_user_id").val();  
  if(selected_user_id.length == 0) 
    selected_user_id = "\"\"";
  var data_str = '{"response_ids" : ['+ ids +'], "sel_user_id" :' +selected_user_id +', "survey_id" :'+ <%=@survey_id %> +'}';
            
$.ajax({
  url: '<%= update_bulk_respondents_path(:survey_id => @survey_id) %>',
  data: data_str,
  type: "POST",
  dataType: "html",  
  contentType: "application/json; charset=utf-8",
  success: function(response) {
     console.log('Return success');
     location.reload();
  },
  error: function(xhr, textStatus, errorThrown) {
  console.log(errorThrown);
  }
});  

$(function() {
  $("#respondent th a, #respondent .pagination a").on("click", function() {
    $.getScript(this.href);
    return false;
  });
  $("#products_search input").keyup(function() {
    $.get($("#respondents_search").attr("action"), $("#respondents_search").serialize(), null, "script");
    return false;
  });
});
});
</script>