<surveyquestion class="question-row" style="display:block;border-bottom:0px;"  id="{{id}}">
  <span class="question-container">
    <div class="questionWrp">
      <span>{{question_number}})</span>
      <input type="text" name="content" value="{{content}}"/>
      <abbr name="mandatory" title="required" style="display:none">*</abbr>
      <abbr name="identifier" title="required" style="display:none;">
      	&#9406;
        </abbr>
    </div>
    {{#finalized}}
    <%= render "templates/dummies/finalized_icon" %>
    {{/finalized}}
    {{^finalized}}
    <span class="form-top-right-actions">
      <a data-tooltip="Delete" href="javascript:void(0)" class="delete_question">
      </a>
      <a data-tooltip="Copy"  href="{{duplicate_url}}" class="copy_question" data-method="post"></a>
      <div  class="ref_img" data-tooltip="Help image" >
        <%= render "templates/questions/file_upload" %>
      </div>
      <div class="settingOptionsWrp">
        <a href="#" class="setting" data-tooltip="Settings"><img src="/assets/settings.svg"></a>
        <div class="setting-options">
          <%= render "templates/questions/identifier" %>
          <%= render "templates/questions/private" %>
          <div class="checkbox">
            {{#mandatory}}
            <input type="checkbox" name="mandatory" value="{{mandatory}}" checked id="mandatory{{id}}" class="regular-checkbox" />
            {{/mandatory}}
            {{^mandatory}}
            <input type="checkbox" name="mandatory" value="{{mandatory}}" id="mandatory{{id}}" class="regular-checkbox"/>
            {{/mandatory}}
            <label for="mandatory{{id}}"></label>
            <span><%= t("activerecord.attributes.question.mandatory") %>
            </span>
          </div>
        </div>
      </div>
    </span>
    {{/finalized}}
  </span>
  <div class="children-content">
    <div class="inline_errors">{{errors}}</div>
    <img src="{{image.thumb.url}}" class="thumb" />
    <%= render "templates/questions/question_finalized_message" %>
    {{#id}}
    
    <div class="add_options_in_bulk_wrp">
      <textarea class="add_options_in_bulk" placeholder="<%= t('surveys.build.add_options_in_bulk_help_text') %>"></textarea>
      <div class="add_options_in_bulk inline-add-btn">
        <%= button_tag t("surveys.build.add_options_in_bulk_label"), :class => "add_options_in_bulk" %>
      </div>
      <div class="inline-add-btn">
      <%= button_tag t("add_option"), :class => "add_option " %>
    </div>
    </div>
    {{/id}}
    {{^id}}
    <%= render 'templates/loading' %>
    {{/id}}
  </div>
