<div class="dashboard-wrapper">
  <div class="left-sideBar">
    <div class="org-shortInfo">
      <h1>Lumstic</h1>
      <div class="org-dashboard-logo">
        <%= image_tag "rails.png" %>
      </div>
      <p><%= t("surveys.index.description_part_1") %></p>
    </div>
    <div class="Survey-summary">
      <table>
        <tbody>
          <tr>
            <td><span><%= @decorated_organizations.count %></span></td>
            <td><span><!-- 17 --></span></td>
          </tr>
          <tr>
            <td><%= t(".active") %></td>
            <td><%# Inactive %></td>
          </tr>
        </tbody>
      </table>
      <div class="survey-create">
        <span class="left">
        <%= link_to t("organizations") ,current_user_org_path %>
        </span>
        <%= link_to t(" ") ,register_path  , :class =>  "addIcon" %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="main-content">
    <header>
      <h2 class="left">All Organizations
        <span class="subHeading">Total Organizations:
          <%= @decorated_organizations.count %></span>
      </h2>
      <%= link_to t("Register Organization") ,register_path  , :class => "Btn colrBtn right" %>
    </header>
    <table class="table_list">
      <thead>
        <tr>
          <th width="40%" class="rightBorder">Title
          </th>
          <th width="35%" class="rightBorder">Space Used</th>
          <th width="15%" class="rightBorder">Surveys</th>
          <th width="8%" class="rightBorder">Responses</th>
          <th width="3%" class="rightBorder">Users</th>
        </tr>
        <tbody>
          <% @decorated_organizations.each do |organization| %>
            <tr>
              <td align="left" >
                <span  data-organization-id="<%= organization.id %>" class="survey_name" ><%= organization.name %></span>
              </td>
              <td align="left"><%= organization.asset_space_in_words %></td>
              <td align="left"><%= organization.survey_count %></td>
              <td align="left"><%= organization.response_count %></td>
              <td align="left"><%= organization.user_count %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  $('span.survey_name').click(function(){
    window.location = Routes.dashboard_path({id: $(this).data('organization-id')});
  })
</script>
